<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoneyMind/auth/register</title>
  <link rel="stylesheet" href="/CSS/bootstrap.min.css">
</head>
<body>

  <h1 class="title">MoneyMind</h1>
  
  <form id="authForm">
    <p class="para">Login</p>

    <label>Email
      <input type="email" id="email" required>
    </label>    

    <label>Password
      <input type="password" id="password" required>
    </label>

    <input type="submit" value="Sign in" id="submit">

    <a href="http://localhost:5000/auth/register" id="link">Create a new account?</a>

  </form>

  <script src="/JS/bootstrap.min.js"></script>
  <script src="/JS/login.js"></script>
</body>
</html>